<!-- Blog Post -->
<div class="post-list" style="list-style-type: none;">
    {% for post in paginator.posts %} {% if post.author and site.data.authors[post.author] %} {% assign author = site.data.authors[post.author] %} {% else %} {% assign author = site.author %} {% endif %}
    <!-- /.blog-post -->
    <div class="blog-post">
        <div class="card flex-md-row mb-8 box-shadow">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary" href="{{ post.url | prepend: site.baseurl }}">{{post.categories}}</strong>
                <h3 class="mb-0">
                <a class="text-dark" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
                <div class="mb-1 text-muted author-box-intro">
                    <div class="blog-post-meta" style="margin-top: -10px;">Posted by <a> {{ author.name }} | </a>
                        <i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}
                        <a> | </a> {% include poster-social.html %}
                    </div>
                </div>
                {% if post.teaser == null %}
                <p class="card-text mb-auto">{{ post.excerpt }}</p>
                {% else %}
                <p class="card-text mb-auto">{{ post.teaser }}</p>
                {% endif %}
                <div class="btn-group">
                    <p align="right">
                        <button type="button" class="btn btn-primary btn-sm" href="{{ post.url | prepend: site.baseurl }}">Continue reading</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="post-list" style="list-style-type: none;">
    {% endfor %}
</div>
<!-- Pagination  -->
{% include pagination.html %}
