<footer class="container footer-bs">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm clearfix">
                    <!--Facebook-->
                    <button type="button" class="btn btn-fb">
                        <a href="https://www.facebook.com/NEUBIAS/" style="color:inherit"> 
  					<i class="fa fa-facebook"></i></a>
                    </button>
                    <!--Twitter-->
                    <button type="button" class="btn btn-tw">
                        <a href="https://twitter.com/NEUBIAS_COST" style="color:inherit"> 
  					<i class="fa fa-twitter"></i></a>
                    </button>
                    <!--Linkedin-->
                    <button type="button" class="btn btn-li">
                        <a href="https://www.linkedin.com/groups/8614579" style="color:inherit"> 
  					<i class="fa fa-linkedin"></i></a>
                    </button>
                    <!--Github-->
                    <button type="button" class="btn btn-git">
                        <a href="https://github.com/NeuBIAS" style="color:inherit"> 
  					<i class="fa fa-github"></i></a>
                    </button>
                </div>

                <div class="col-sm">
                   <!-- Placeholder for content -->
                </div>

                <div class="col-sm">
                    NEUBIAS: Network of European BioImage Analysts. <br>
                    COST Action CA15124
                </div>

            </div>
 
        </div>
    </div>
</footer>