	<footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>Logo</h2>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                <p>© 2014 BS3 UI Kit, All rights reserved</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Menu —</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<div class="row">
  <div class="col-xs-4 col-sm-2">
      <a href=""><i class="fa fa-behance-square fa-icon"></i></a>
  </div>
  <div class="col-xs-4 col-sm-2">
      <a href=""><i class="fa fa-linkedin-square fa-icon"></i></a>
  </div>
  <div class="col-xs-4 col-sm-2">
      <a href=""><i class="fa fa-twitter-square fa-icon"></i></a>
  </div>
  <div class="col-xs-4 col-sm-2">
      <a href=""><i class="fa fa-skype fa-icon"></i></a>
  </div>
  <div class="col-xs-4 col-sm-2">
      <a href=""><i class="fa fa-facebook-square fa-icon"></i></a>
  </div>
  <div class="col-xs-4 col-sm-2">
      <a href=""><i class="fa fa-github-square fa-icon"></i></a>
  </div>
    <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a>
</div>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">


    <div class="search-text"> 
       <div class="container">
         <div class="row text-center">
         
           <div class="form">
               <h4>SIGN UP TO OUR NEWSLETTER</h4>
                <form id="search-form" class="form-search form-horizontal">
                    <input type="text" class="input-search" placeholder="Email Address"><br>
                    <button type="submit" class="btn-search">SUBMIT</button>
                </form>
            </div>
        
          </div>         
       </div>     
	</div>
            </div>
        </div>
    </footer>