<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
    <img src="/img/icons.ico/NEUBIAS_square_color.svg" width="40" height="40" class="d-inline-block align-center" alt="Neubias logo">
    NEUBIAS 
  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="{{categories | prepend: site.baseurl}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for cat in site.categories %} {% assign cat_name = cat | first %} {% assign cat_size = cat | last | size %} {% assign cat_slug = cat_name | slugify %}
                        <a class="dropdown-item" href="/category/{{cat_slug | prepend: site.baseurl}}">
                    {{cat_name}} ({{cat_size}})
                  </a> {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>