 <div class="btn-group">
        <a class="btn btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ post.url | prepend: site.baseurl }}" data-toggle="tooltip" title="Share Facebook"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social btn-twitter" href="http://twitter.com/share?&url={{ post.url | prepend: site.baseurl }}" data-toggle="tooltip" title="Share Twitter"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social btn-linkdin" href=" http://www.linkedin.com/shareArticle?url={{ post.url | prepend: site.baseurl }}" data-toggle="tooltip" title="Share Linkedin"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-social btn-google" href="https://plus.google.com/share?url={{ post.url | prepend: site.baseurl }}" data-toggle="tooltip" title="Share Google"><i class="fa fa-google-plus"></i></a>
    </div>