<div class="sidebar-module sidebar-module-inset">
       <!-- Recents post -->
                <div class="well">
                  <h4>Recent posts</h4>
                    <ul class="posts" span="recent">  
              {% for post in site.posts limit:5 %}  
                 <li>  
                   <span>{{ post.date | date_to_string }}</span>
                   <a href="{{ BASE_PATH }}{{ post.url }}">  
                   {{ post.title }}</a>  
                 </li>  
              {% endfor %}  
            </ul>
                </div>

          <div class="sidebar-module">
          <!-- tags widget -->
                <div class="well">
                    <h4>Tags</h4>
                        <ul>
                            {% for tag in site.tags %}
                            {% assign tag_name = tag | first %}
                            {% assign tag_size = tag | last | size %}
                            {% assign tag_slug = tag_name | slugify  %}
                                <a class="tag-label bold" href="/tag/{{tag_slug | prepend: site.baseurl}}">
                                    {{tag_name}} ({{tag_size}})
                                </a>
                            {% endfor %}
                        </ul>
                </div>
          </div>

  </div>
</div>