---
---

<!doctype html>
<html lang="en">

{% include head.html %}

  <body>
    <main role="main" class="container main">

    <header>  {% include header.html %} </header>
  
      <div class="row">

        {% include logo.html %}

        <div class="col-sm-9 blog-main">

        {{ content }}

        </div><!-- /.blog-main -->

        <aside class="col-sm-3 ml-sm-auto blog-sidebar"> 
          {% include sidebar.html %}       
         </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->


        {% include footer.html %}


    </main><!-- /.container -->

  {% include scripts.html %}
    
  </body>
  }
</html>
